.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__current-group
        #{@group.name}
      .chat-main__group-info__left-box__member-list
        .chat-main__group-info__left-box__member-list__member
          -@group.users.each do |user|
            =user.name
    .chat-main__group-info__edit-btn
      =link_to "Edit", edit_group_path(@group.id),class: 'chat-main__group-info__edit-btn__btn'


  .chat-main__messages
    = render @messages
  
  .chat-main__message-form
    .chat-main__message-form__new-message
      = form_for [@group, @message] do |f|
        .chat-main__message-form__new-message--content
          = f.text_field :content, class: 'chat-main__message-form__new-message__input-box__text', placeholder: 'type a message'
        
          = f.label :image, class: 'chat-main__message-form__new-message__input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
      
        .chat-main__message-form__new-message__submit
          = f.submit 'Send', class: 'chat-main__message-form__new-message__submit'
    
   